@import '_mixins';

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__top {
        display: flex;
        justify-content: space-between;

        h1 {
            height: fit-content;
        }

        &__nav {

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 2rem 4rem;  

        }

        &__join {

            .join-title {
                font-size: 1.5rem
            }

            .search {

                @include search(300px, 64px, 1.5rem);

                border: 1px solid $border-grey;
            }
        }
    }

    &__bottom {

        border-top: solid 1px $border-grey;
        margin: 2rem 0 2rem 0;
        display: flex;
        justify-content: space-between;
        padding-top: 3rem;
        padding-bottom: 3rem;
        position: relative;

        p {
            align-self: center;
        }

        // p::before {
        //     content: "";
        //     display: block;
        //     width: 3rem;
        //     height: 3rem;
        //     border-radius: 50%;
        //     background-color: $black;
        //     position: absolute;
        //     top: 3rem;
        //     left: 0;
        //     transform: translateY(-50%);
        // }

        .social-list {

            display: flex;
            gap: 2rem;

            li {
                
                width: 3rem;
                height: 3rem;
                border: 1px solid $border-grey;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .fab { 
                    
                    transform: scale(1.5,1.5);
                }
            }

            li:hover {
                border: 1px solid $black;
                background-color: $black;
                color: white;
                transition: 500ms ease;
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .footer {

        &__top {

            flex-direction: column;
            gap: 24px;
            align-items:flex-start;

            &__nav {
                
                margin-bottom: 2rem;
            }
        }

        &__bottom {

            flex-direction: column-reverse;
            align-items: center;
            gap: 1.5rem;
        }
    }
}