// _________________ SEARCH INPUT WITH GREEN CORAL BTN _________________________

@mixin search($width, $height, $margin-left-input) {

    display: flex;
    justify-content: space-between;
    height: $height;
    max-width: $width;
    margin-top: 2rem;
    box-shadow: -12px 21px 301px -13px rgba(0,0,0,0.29);
    
    input {
        margin-left: $margin-left-input;

        &::placeholder {
            color: $black;
        }
    }

    button {
        width: $height;
        background: $green;
        color: $black;
        font-size: 1.6rem;
        font-weight: 500;
        position: relative;

        span {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 100;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            background-color: $salmon;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: 500ms;
        }
        
        &:hover::after {
            
            transform: scaleY(1);
        }
    }
}

// _______________________________ HOVER EFFECT ON ANCHOR __________________________


@mixin hover-on-anchor($bottom-pos) {

    &::after {
        content: '';
        display: block;
        width: 90%;
        height: 0.5rem;
        background-color: $green;
        position: absolute;
        bottom: $bottom-pos;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%) scaleY(0);
        transform-origin: bottom;
        transition: 200ms;
    }
    
    &:hover::after, &:focus::after {
        transform: translateX(-50%) scaleY(1);
    }
}

// ____________________________________ HOVER EFFECT ON FREE TRIAL _____________________

@mixin hover-on-free-trial {

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        background-color: $green;
        transform-origin: bottom;
        transition: 200ms;
        border-radius: 50px;
        transform: translateY(100%);
        z-index: 50;
    }
    
    &:hover::after {
        
        transform: translateY(0);
    }

    &:hover {
        color: $black;
    }
}