@import '_variables';

.unlimited {
    width: 100%;
    height: fit-content;
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;

    &__menu {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .links {
            width: 70%;
            display: flex;
            justify-content: space-between;
            margin-top: 3rem;
            font-size: clamp(0.8rem, 0.9rem, 1rem);
        }
    }

    &__cards {
        margin-top: 3rem;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 85vh;
        gap: 50px;

        .card {

            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .pic {
                width: 100%;
                flex-grow: 1;
                border-radius: 1.2rem;
                background-size: cover;
                background-position: center;
                position: relative;

                span {
                    display: block;
                    width: 2rem;
                    height: 2rem;
                    background-color: white;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    right: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateY(-100%);
                    transition: 500ms;
                    
                    i {
                        transform: rotate(45deg);
                        align-self: center;
                        justify-self: center;
                    }
                }
            }
            
            &__title {
                margin-top: 1rem;
                font-size: 1.5rem;
                transition: 500ms ease-out;
            }
            
            &__duration {
                margin-top: 0.2rem;
            }
        }
        
        .card:hover {
            .pic {
                span {
                    transform: translateY(50%);
                }
            }
            .card__title {
                color: $green;
            }
        }

    }

    .h350 {
        height: 350px
    }
    .h400 {
        height: 400px
    }
    .h450 {
        height: 450px
    }
}

@media screen and (max-width: 1000px) {
    .unlimited {

        &__menu {

            h2::after {
                display: none;
            }

            .links {
                max-width: 40rem;
                min-width: 32rem;
                gap: 0.9rem;
            }
        }

        &__cards {
            flex-wrap: wrap;
            width: 100%;

            .card {
                width: 300px;
                height: 400px;
                flex: none;
            }
        }
    }
}

@media screen and (max-width: 550px) {

    .links {
        align-self: flex-start;
    }
}